<nav class="navbar navbar-expand-lg" style="background-color: #430078;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['']" style="margin-left: 1rem;">
        <img src="../../assets/images/trans.png" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top custom-imge-nav">
        Store
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="font-size: larger;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['']">{{ "HOME" | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/stc-product']">{{ "PRODUCTS" | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/stc-categories']">{{ "CATEGORIES" | translate }}</a>
            </li>
        </ul>
    </div>
    <div class="example-row">
        <div class="example-row" style="width: max-content;
            margin: 1rem;">
            <span class="form-inline">
                <select class="control" #selectedLang (change)="changeCurrentLanguag(selectedLang.value)">
                    <option *ngFor="let language of translate.getLangs()" [value]="language"
                        [selected]="language === translate.currentLang">
                        {{ language | translate }}
                    </option>
                </select>
            </span>
        </div>
    </div>
    <form class="d-flex" role="search">
        <button class="btn-hover-red color-11" (click)="logOut()">
            {{ "LOG_OUT" | translate}} <i class="fa-solid fa-power-off"></i></button>
    </form>
</nav>