table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

.mdc-data-table__cell {
  text-align: center;
}

.b-example-divider {
  height: 3rem;
  background-color: rgb(109 0 195 / 10%);
  border: solid rgb(133 33 235 / 15%);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(137 0 223 / 10%),
    inset 0 0.125em 0.5em rgb(182 78 255 / 15%);
}

::ng-deep [dir="rtl"] .mdc-data-table__cell {
  text-align: center !important;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

