<div class="b-example-divider"></div>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">{{ "DIRECT" | translate }}</h1>
            <p class="lead fw-normal">{{ "CALL" | translate }}</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="
            background-color: #5a1a8b !important;">
            <div class="my-3 py-3">
                <h2 class="display-5">{{ "IPHONE" | translate }}</h2>
                <p class="lead">{{ "IPHONE2" | translate }}</p>
            </div>
            <div class="bg-light shadow-sm mx-auto"
                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;
            background-image: url(../../assets/images/iphone13-202203_GEO_US.png); background-repeat: no-repeat; background-position: center;">
            </div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">{{ "IPHONE" | translate }}</h2>
                <p class="lead">{{ "IPHONE2" | translate }}</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto"
                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;
            background-image: url(../../assets/images/iphone14-O_US.png); background-repeat: no-repeat; background-position: center;">
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">{{ "IPHONE" | translate }}</h2>
                <p class="lead">{{ "IPHONE2" | translate }}</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto"
                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;
            background-image: url(../../assets/images/iphone14pro.png); background-repeat: no-repeat; background-position: center;">
            </div>
        </div>
        <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="
                background-color: #928bbf !important;">
            <div class="my-3 py-3">
                <h2 class="display-5">{{ "IPHONE" | translate }}</h2>
                <p class="lead">{{ "IPHONE2" | translate }}</p>
            </div>
            <div class="bg-light shadow-sm mx-auto"
                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;
            background-image: url(../../assets/images/iphonese-digitalmat-gallery-1-202203.png); background-repeat: no-repeat; background-position: center;">
            </div>
        </div>
    </div>
</main>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">{{ "NEW_IN_STORE" | translate }}</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url(../../assets/images/iphone-card-40-iphone14pro-202209.jpg);">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">iPhone 14 Pro &
                        iPhone 14 Pro Max</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url(../../assets/images/iphone-card-40-iphone14-202209.jpg);">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">iPhone 14 &
                        iPhone 14 Plus
                    </h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url(../../assets/images/iphone-card-40-iphone13-202209.jpg);">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">iPhone 13 mini &
                        iPhone 13</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>
